@import '@/config/vars.scss';

.feed-view {
    display: grid;
    grid-area: pages;
    margin: $gap-xs 1rem $gap-sm $gap-sm;
    padding: $gap-xs 1rem $gap-sm $gap-sm;

    ul {
        list-style: none;
        padding: 0rem;
        margin: 0rem;
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: $gap-sm;

        &>li {
            display: grid;
        }
    }
    
    .empty-feed {
        display: grid;
        text-align: center;
        align-items: center;

        .message {
            .icon-container {
                display: grid;
                text-align: center;
                align-items: center;
                justify-items: center;

                .icon {
                    font-size: 6rem;
                    background: $rd-yellow;
                    color: $theme-accent-1-color;
                    border-radius: 50%;
                    width: 8rem;
                    height: 8rem;
                }
            }

            .title {
                font-size: 4rem;
                font-weight: 500;
                margin-top: 2rem;
            }

            .body {
                font-size: 2rem;
                margin-top: 2rem;
            }
        }
    }
}

.feed-loading {
    display: grid;
    justify-content: center;
    align-items: center;
}