<script lang="ts" src="./feed.ts"></script>
<style lang="scss" scoped src="./feed.scss"></style>
// <style lang="scss" src="@/config/global.scss"></style>

<template>
  <div class="feed-view" v-on="$listeners">    
    <!-- <transition name="fade" mode="out-in"> -->
      <ul v-if="channel && $store.getters['post/allPosts'].length > 0" :key="channel.path">
        <li v-for="post of $store.getters['post/allPosts']" :key="post.id" @click="onPostClick(post)">
          <post :post="post" :compact="false"/>
        </li>
      </ul>      
      <div class="feed-loading" v-else-if="loading">
          <sync-loader :loading="loading" :color="'#FFC423'" :size="'12px'"></sync-loader>
      </div>
      <div v-else class="empty-feed">
        <div class="message">
          <div class="icon-container">
            <span class="icon">:(</span>
          </div>
          <div class="title">Oh No!</div>
          <div class="body">There are no posts at this time</div>
        </div>
      </div>
    <!-- </transition> -->
  </div>
</template>
