@import '@/config/vars.scss';


.post-details-view {
    display: grid;

    .post-details-container {
        display: grid;
        grid-template-columns: 0fr auto;
        grid-auto-rows: minmax(0, auto);
        grid-column-gap: 3em;
        grid-template-areas: "action-buttons-container grid-wrapper";
        padding: 4rem 2rem;
    }

    .action-buttons-container {
        grid-area: action-buttons-container;
        position: sticky;
        top: 12rem;
        margin-top: 10rem;
        align-self: start;
        justify-items: center;
        align-items: center;

        &>* {
            display: block;
        }

        &>*:not(:last-child) {
            margin-bottom: 2rem;
        }

        .action-btn {
            height: 5.5rem;
            width: 5.5rem;
            background: #3c3c3c;
            color: #FFC500;
            border: none;
            padding: 0.5rem;
            border-radius: 3.75rem;
            font-size: 1.2em;
            outline: none;
            display: block;
            cursor: pointer;
            text-align: center;
        }

        .action-btn:hover {
            transform: scale(1.1);
            transition: transform 0.25s ease;
        }

        .font-awesome::before {
            font-family: $font-awesome-family;
            font-size: 2rem;
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }

        
        .anim-clap-container {
            position: relative;
            .positive-feedback-btn {
                position: relative;
    
                &:hover {
                    border: thin solid $rd-yellow;
                }
                .top::before{
                    display: block;
                    content: '\f256';
                    font-weight: 900;
                    position: absolute;
                    top: 50%;
                    left: 29%;
                    transform: rotate(45deg) translate(-50%, -50%);
                }   
                
                .bottom::before {
                    display: block;
                    content: '\f256';
                    font-weight: 400;
                    position: absolute;
                    top: 52%;
                    left: 40%;
                    transform: rotate(45deg) translate(-50%, -50%);
                }
            }

            // &.bounce {
            //     & > .do-bounce {
            //         display: block;
            //         animation: clap-bounce-anim 0.2s ease 0s 1;   
            //     }
            // }

            // @keyframes clap-bounce-anim {
            //     0% { 
            //         transform: scale(1);
            //     }
            //     100% { 
            //         transform: scale(1.1); 
            //     }
            // }

            .anim-clap-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 5.5rem;
                height: 5.5rem;
                z-index: -1;

                &.start {
                    display: block;
                    animation: clap-count-anim 0.5s cubic-bezier(0.24, 0.48, 0.12, 1.04) 0s 1 forwards;
                }

                .clap-count {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -1.75rem;
                    margin-top: -1.75rem;
                    z-index: -1;
                    background: #FFC423;
                    color: black;
                    border: none;
                    padding: 0.65rem;
                    border-radius: 3.75rem;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    cursor: pointer;
                    text-align: center;
                    width: 3.5rem;
                    height: 3.5rem;
                    
                }

                .explosion {
                    position: absolute;
                    top: 0;
                    width: 5.5rem;
                    height: 5.5rem;
                    // background: gray;
                    z-index: -2;
                    transform: scale(0.3)  rotate(5deg);
                    opacity: 0;

                    &.start {
                        animation: explode 0.53s ease-out 0.25s 1 normal forwards;
                    }
    
                    .arrows {
                        width: 100%;
                        height: 100%;
                    }
    
                    .cirlces {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 85%;
                        height: 85%;
                        transform: 
                            rotate(20deg)
                            translate(-50%, -50%);
                        transform-origin: 0% 0%;
                        // background: red;
                    }
    
                    .tl {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
    
                    .tr {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
    
                    .bl {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
    
                    .br {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
    
                    .arrow-up {
                        width: 0; 
                        height: 0; 
                        border-left: 0.3rem solid transparent;
                        border-right: 0.3rem solid transparent; 
                        border-bottom: 0.3rem solid $rd-yellow;
    
                        &:nth-child(1) {
                            transform: rotate(-90deg);
                        }
                       
                        &:nth-child(2n+0) {
                            transform: rotate(-40deg);
                        }
    
                        &:nth-child(3n+0) {
                            transform: rotate(45deg);
                        }
    
                    }
    
                    .mini-cicle {
                        width: 0.3rem;
                        height: 0.3rem;
                        border-radius: 0.15rem;
                        background: gray;
                    }
    
                    @keyframes explode {
                        0% {
                            transform: scale(0.3) rotate(5deg);
                            opacity: 0;
                        }
    
                        75%{
                            opacity: 1;
                        }
                        100% { 
                            transform: scale(1) rotate(10deg);
                            opacity: 0;
                        }
                    }
                }    
               

                @keyframes clap-count-anim {
                    0% { 
                        transform: translateY(0px);
                        opacity: 0; 
                    }
                    20% {
                        opacity: 0;
                    }
                    60% { 
                        transform: translateY(-70px) scale(1); 
                    }
                    70% {
                        transform: translateY(-70px) scale(1.1);
                    }
                    100% { 
                        transform: translateY(-70px) scale(1); 
                        opacity: 1;
                    }
                }
            }
          
        }

        .comment-btn::before {
            content: '\f075';
        }

        .edit-btn::before {
            content: '\f044';
            font-weight: 400;
        }
    }

    .grid-wrapper {
        grid-area: grid-wrapper;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr;
        grid-template-areas:
            "title-wrapper"
            "header-wrapper"
            "featured-image-wrapper"
            "body-wrapper"
            "text-editor-container"
            "comment-thread-container";
        overflow-y: auto;
        padding: 1rem;

        .title-wrapper {
            grid-area: title-wrapper;

            .title {
                font-size: 2.5em;
            }
        }

        .header-wrapper {
            grid-area: header-wrapper;
            display: grid;
            grid-template-columns: 0fr 0fr 0fr;
            grid-template-areas:
                "user-initials user-name"
                "user-initials post-time";
            margin-top: 2rem;

            .user-initials {
                grid-area: user-initials;
                padding: 0.75rem;
                border-radius: 50%;
                background: $rd-yellow;
                color: white;
                font-weight: 700;
                margin-right: 0.5rem;
                width: 3rem;
                height: 3rem;
                display: inline-block;
                text-align: center;
            }

            .user-name {
                grid-area: user-name;
                font-weight: 700;
            }

            .post-time {
                grid-area: post-time;
                opacity: 0.75;
            }
        }

        .featured-image-wrapper {
            grid-area: featured-image-wrapper;
            margin-top: 2rem;
        }

        .body-wrapper {
            grid-area: body-wrapper;
            margin-top: 2rem;
            font-size: 1.25em;
            line-height: 1.75;
        }

        .text-editor-container {
            grid-area: text-editor-container;
        }

        .comment-thread-container {
            grid-area: comment-thread-container;
            margin-top: 3rem;
        }
    }

    .empty-post-details {
        display: grid;
        text-align: center;
        align-items: center;

        .message {
            .icon-container {
                display: grid;
                text-align: center;
                align-items: center;
                justify-items: center;

                .icon {
                    font-size: 6rem;
                    background: $rd-yellow;
                    color: $theme-accent-1-color;
                    border-radius: 50%;
                    width: 8rem;
                    height: 8rem;
                }
            }

            .title {
                font-size: 4rem;
                font-weight: 500;
                margin-top: 2rem;
            }

            .body {
                font-size: 2rem;
                margin-top: 2rem;
            }
        }
    }
}

.post-details-loading {
    display: grid;
    justify-content: center;
    align-items: center;
}
