<script lang="ts" src="./post-details.ts"></script>
<style lang="scss" scoped src="./post-details.scss"></style>
// <style lang="scss" src="@/config/global.scss"></style>

<template>
    <div class="post-details-view">
        <!-- <transition name="fade" mode="out-in"> -->
            <div v-if="post && post._id" class="post-details-container">
                <div class="action-buttons-container">
                    <div class="anim-clap-container" :class="{ 'bounce' : showClapAnimBounce }">
                        <button class="action-btn positive-feedback-btn" @click="onClapClick()">
                            <span class="font-awesome top"></span>
                            <span class="font-awesome bottom"></span>
                        </button>
                        <span class="anim-clap-wrapper" :class="{ 'start' : showClapAnim }" > 
                            <span class="clap-count">+{{ clapCount }}</span>
                            <div class="explosion" :class="{ 'start': showClapAnim }">
                                <div class="arrows">
                                    <div class="arrow-up tl"></div>
                                    <div class="arrow-up tr"></div>
                                    <div class="arrow-up bl"></div>
                                    <div class="arrow-up br"></div>
                                </div>

                                <div class="cirlces">
                                    <div class="mini-cicle br"></div>
                                    <div class="mini-cicle bl"></div>
                                    <div class="mini-cicle tr"></div>
                                    <div class="mini-cicle tl"></div>
                                </div>
                                
                                <!-- <div class="arrow-up"></div>
                                <div class="mini-cicle"></div> -->
                            </div>
                        </span>
                    </div>
                    <button class="font-awesome comment-btn action-btn" >
                    </button>
                    <button class="font-awesome edit-btn action-btn" @click="onEditClick()">
                    </button>
                </div>
                <div class="grid-wrapper">
                    <div class="title-wrapper"><h3 class="title">{{ post.title }}</h3></div>
                    <div class="header-wrapper" >
                        <span class="user-initials">{{ userInitials }}</span>
                        <!-- <h5 class="channel-name">{{ post.channel.name }}</h5> -->
                        <h5 class="user-name">{{ post.creator ? post.creator.name : '' }}</h5>
                        <h5 class="post-time">{{ post.timestamp }}</h5>
                    </div>
                    <div class="featured-image-wrapper">
                        <img :src="post.imageUri" alt="placeholder.png">
                    </div>
                    <div class="body-wrapper" v-html="post.content"></div>   
                    <div class="text-editor-container" >
                    </div>
                    <div class="comment-thread-container" >
                        <comment-thread v-if="comments != null" :comments="comments" />
                    </div>
                </div>
            </div>
            <div class="post-details-loading" v-else-if="loading">
                <sync-loader :loading="loading" :color="'#FFC423'" :size="'12px'"></sync-loader>
            </div>
            <div class="empty-post-details" v-else>
                <div class="message">
                    <div class="icon-container">
                        <span class="icon">:(</span>
                    </div>
                    <div class="title">Oh No!</div>
                    <div class="body">We could not load this post. Try again later.</div>
                </div>
            </div>
        <!-- </transition> -->
    </div>
</template>
