@import '@/config/vars.scss';

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr auto;
    grid-template-areas:
        "navigation"
        "main-content";
    font-family: $default-font-family;
    font-size: $default-font-size;
    background-color: $theme-background;
    color: $theme-color;
    min-height: 100vh;

    a {
        color: $theme-link-color;
    }
    
    &.dark {
        // set theme variables to dark variants
        // replace $theme-dark.... with $theme
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.2em solid #3e3e3e;
            margin: 1em 0;
            padding: 0;
        }
    }

          
    &.light { // set theme variables to light variants  
        background-color: $theme-light-background;
        color: $theme-light-color;

        a {
            color: $theme-light-link-color;
        }

        nav {
            background: $theme-light-nav-background; 

            .search {
                [type="search"] {
                    background-color: $theme-light-accent-2-color;
                    border: $default-light-border-style;
                    color: $theme-light-color;

                    &:focus {
                        border-color: rgba($theme-light-color, .5);
                    }
                }
            }

            .custom-toggle,
            .sort-layout-container {
                .first,
                .second {               
                    background:$theme-light-accent-2-color;
                    border: $default-light-border-style;
                    color: $theme-light-color;
                }
            }
            // .display-mode {
            // }
        }

        .custom-select {
            border: $default-light-border-style;
    
            &.show {
                border-color: rgba($theme-light-color, .5);
            } 
    
            &> ul {
                background:$theme-light-accent-2-color;

                &> li {
                    &:hover {
                        background: $theme-light-highlight-color;
                    }
                }
            }
        }
    }

    main {
        display: grid;
        grid-area: main-content;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "pages side-bar";

        &.compact {
            grid-template-columns: 4fr 1fr;
        }
    }

    .side-bar-view {
        display: grid;
        grid-area: side-bar;
        align-content: start;
        margin-right: $gap-sm;

        .side-bar-widget {
            margin:  $gap-sm;
            margin-left: 0;
            border: $default-border-style;
            border-radius: 0.5rem;

            .content {
                padding: $gap-sm;
            }
        }
    }
}
