<script lang="ts" src="./app.ts"></script>
<style lang="scss" src="./app.scss"></style>
<style lang="scss" src="@/config/global.scss"></style>

<template>
  <div id="app" :class="$store.getters['misc/theme']">
    <navigation 
      :channels="$store.getters['channel/allChannels']" 
      :currentChannel="$store.getters['channel/currentChannel']"/>

    <main :class="{'compact': $store.getters['misc/compact']}">
      <transition :duration="500" name="fade" mode="out-in">
        <router-view />
      </transition>
      <section class="side-bar-view">
        <transition name="slide-fade" mode="out-in">
          <channel-info 
            :channel="$store.getters['channel/currentChannel']" 
            @createClicked="onCreateClick"/>
        </transition>
        <trending-channels 
          :channels="$store.getters['channel/allChannels']" 
          @subscribeClicked="onSubscribeClick"/>
      </section>
    </main>
  </div>
</template>