<script lang="ts" src="./new-post.ts"></script>
<style lang="scss" scoped src="./new-post.scss"></style>
<template>
    <div class="new-post-view" v-if="post === null">
        <div class="heading">
            <h1>New Post</h1>
        </div>
        <div class="action-buttons"></div>
        <div class="text-editor-container" >
            <text-editor :mode="'create'" @createPost="onCreatePost"/>
        </div>
    </div>
    <div class="post-loading" v-else>
        <sync-loader :loading="post !== null" :color="'#FFC423'" :size="'12px'"></sync-loader>
    </div>
</template>
