@import '@/config/vars.scss';


.new-post-view {
    grid-area: pages;
    margin: $gap-sm 1rem $gap-sm $gap-sm;
    padding: $gap-sm 1rem $gap-sm $gap-sm;
}

.heading {
    margin-bottom: $gap-sm;
}

.post-loading {
    display: grid;
    text-align: center;
    align-content: center;
}

.loading-text {
    margin-top: $gap-sm;
}