<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0">
    <link rel="icon"
          href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
          crossorigin="anonymous">
    <!-- <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" ></script> -->
    <title>forum</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but forum doesn't work properly without JavaScript
            enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>
