<script lang="ts" src="./edit-post.ts"></script>
<style lang="scss" scoped src="./edit-post.scss"></style>
<template>
    <div class="post-details-view" v-if="post !== null">
        <div class="heading">
            <h1>Edit Post</h1>
        </div>
        <div class="action-buttons"></div>
        <div class="text-editor-container" >
            <text-editor :mode="'update'" :post="post" @updatePost="onUpdatePost" @cancelPost="onCancelPost"/>
        </div>
    </div>
    <div class="post-loading" v-else>
        <sync-loader :loading="post === null" :color="'#FFC423'" :size="'12px'"></sync-loader>
    </div>
</template>
