@import '@/config/vars.scss';


.post-details-view {
    grid-area: pages;
    margin: $gap-sm 1rem $gap-sm $gap-sm;
    padding: $gap-sm 1rem $gap-sm $gap-sm;
}

.heading {
    display: grid;
    margin-bottom: $gap-sm;
    align-content: center;

    .btn {
        background: $danger-red;
        color: $theme-color;
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        outline: none;
        float: right;

        &:hover {
            background-color: $rd-yellow;
            color: $theme-background;
        }
    }
}

.post-loading {
    display: grid;
    text-align: center;
    align-content: center;
}
