<script lang="ts" src="./comment.ts"></script>
<style lang="scss" scoped src="./comment.scss"></style>
<template>
  <div class="comment-view">
    <div class="heading-wrapper">
      <span class="user-name">{{ comment.creator }}</span>
      <span class="comment-time">{{ comment.timestamp }}</span>
    </div>
    <p class="comment-body" v-html="comment.content"></p>
    <div class="btn-wrapper">
      <button class="font-awesome btn reply-btn">reply</button>
    </div>
    <div class="replies-containter" v-if="replies">
      <li v-for="reply of replies" :key="reply.id" @click="onReplyClicked(comment)">
        <comment :comment="reply"/>
      </li>
    </div>
  </div>
</template>
