@import '@/config/vars.scss';

.comment-view {
    padding: 0.5rem;

    .font-awesome::before {
        font-family: $font-awesome-family;
        font-size: 2rem;
        font-weight: 900;
        display: none;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .heading-wrapper {
        display: grid;
        grid-auto-columns: 0fr 0fr;
        grid-template-rows: 0fr;
        grid-template-areas:
            "user-name comment-time";

        .user-name {
            grid-area: user-name;
            font-weight: 600;
            margin-right: 1rem;
            white-space: nowrap;
        }
    
        .comment-time {
            grid-area: comment-time;
            opacity: 0.75;
            white-space: nowrap;
        }
    }
   

    .comment-body {
        line-height: 1.65;
        margin: 0.5rem 0;
    }

    .replies-containter {
        border-left: 0.35rem solid #404040;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    .btn-wrapper {
        .btn {
            background: none;
            border: none;
            padding: 0;
        } 

        .reply-btn {
            font-weight: 600;
            color: white;
            opacity: 0.8;
            color: $rd-yellow;
        }

        .reply-btn::before {
            content: '\f3e5';
        }
    }

}