<script lang="ts" src="./channel-info.ts"></script>
<style lang="scss" scoped src="./channel-info.scss"></style>
<template>
  <div class="side-bar-widget channel-info" :key="channel.path" v-if="channel">
    <div class="banner" :style="{'background-image': `url(${require('@/assets/'+ channel.banner)})`}"></div>
    <div class="content">  
      <div class="title">{{ channel.name }}</div>
      <div class="description">{{ channel.description }}</div>
      <button class="create-post-btn" @click="onCreateClick()">Create Post</button> 
    </div>
  </div>
</template>
