@import '@/config/vars.scss';

.channel-info {
    margin-top: $gap-md;

    .banner {
        // grid-area: logo;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 5rem;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .content {

        .title {
            font-size: 2rem;
            font-weight: 500;
        }

        .description {
            font-size: 1.6rem;
            margin-top: 2rem;
        }

        .create-post-btn {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            padding:  1rem;
            margin-top: 2rem;
            border-radius: .5rem;
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: .1rem;
            font-weight: 700;
            cursor: pointer;
        }
    }
}