@import '@/config/vars.scss';

nav {
    display: grid;
    grid-area: navigation;
    grid-template-columns: 1rem 0fr auto auto 6fr 2fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". logo topic display-mode search user-info theme";
    height: 3rem;
    align-content: center;
    margin: $gap-sm;
    height: 5rem;
    background: $theme-nav-background;
    border-radius: 1rem;
    z-index: 2;

    >* {
        align-self: center;
    }

    .logo {
        grid-area: logo;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15rem;
        height: 3rem;
        cursor: pointer;
    }

    .topic {
        grid-area: topic;
        margin-left: $gap-md;            
    }

    .search {
        grid-area: search;
        margin: 0rem $gap-sm;
        height: 3rem;

        [type="search"] {
            width: 100%;
            height: 100%;
            background-color: $theme-accent-2-color;
            border: $default-border-style;
            border-radius: .5rem;
            padding: 1rem;
            outline: none;
            color: $theme-color;

            &:focus {
                border-color: rgba($theme-color, .5);
            }
        }
    }

    .display-mode {
        display: grid;
        grid-area: display-mode;
        grid-auto-flow: column;
    }
    
    .theme-toggle {
        display: grid;
        grid-area: theme;
        grid-auto-flow: column;
        margin-right: $gap-xs; 
    }
    
    .custom-toggle,
    .sort-layout-container {
        display: grid;
        grid-auto-flow: column;
        align-content: center;

        &> label {
            display: grid;
            align-content: center;
            margin: 0rem $gap-sm;                    
        }

        .first,
        .second {       
            height: 3rem;
            width: 3rem;                    
            background:$theme-accent-2-color;
            border: $default-border-style;
            border-radius: .5rem;
            outline: none;
            color: $theme-color;
            cursor: pointer;                    

            &.active-toggle {
                color: white;
            }
        }

        .first {
            border-right: none !important;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .second {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .first.active-toggle {
            background: #4b8984;
        }

        .second.active-toggle {
            background: #5f4b89;
        }
    }

    .user-info {
        display: grid;
        grid-area: user-info;
        justify-content: right;
        margin: 0rem $gap-sm;
        white-space: nowrap;
    }
}

.custom-select {
    position: relative;
    display: grid;
    align-content: center;
    border: $default-border-style;
    border-radius: 0.5rem;
    min-width: 10rem;
    height: 3rem;
    cursor: pointer;

    &.show {
        border-color: rgba($theme-color, .5);

        &> ul{
            display: block;
        }
    } 

    &> .selected {
        text-align: left;
        padding: 0rem 0.7rem;
        height: 3rem;
        line-height: 3rem;

        .open,
        .close {
            position: absolute;
            right: 1rem;
            font-size: 1rem;
            line-height: 3rem;
        }
    }

    &> ul {
        display: none;
        position: absolute;
        width: 100%;
        margin: 0;
        padding: .7rem 0rem;
        top: 2.9rem;
        list-style: none;
        border-radius: 0.5rem;
        background:$theme-accent-2-color;
        &> li {
            padding: 0.5rem 0.7rem;
            &:hover {
                background: $theme-highlight-color;
            }
        }
    }
}