<script lang="ts" src="./navigation.ts"></script>
<style lang="scss" scoped src="./navigation.scss"></style>
<template>
  <nav :class="$store.getters['misc/theme']">
    <div class="logo" @click="onChannelChange($store.getters['channel/allChannels'][0])" :style="{'background-image': `url(${require('@/assets/logo.png')})`}"/>
    <div class="topic" v-if="$store.getters['channel/currentChannel'] && $store.getters['channel/allChannels']">
      <div class="custom-select" :class="{ 'show': showChannels }" @mouseleave="showChannels = false" @click="showChannels = !showChannels">
        <div class="selected">
          {{ $store.getters['channel/currentChannel'].name }}
          <span v-if="!showChannels" class="open">&#9660;</span>
          <span v-else class="close">&#x2716;</span>
        </div>
        <ul>
          <li v-for="(option, index) in $store.getters['channel/allChannels']" :key="index" @click="onChannelChange(option)">{{ option.name }}</li>
        </ul>
      </div>
    </div>
    <div class="search"><input type="search" placeholder="Search Discourse"/></div>
    <div class="display-mode">
      <div class="custom-toggle">
        <label>View</label>
        <button 
          class="first" 
          :class="{ 'active-toggle': !$store.getters['misc/compact'] }" 
          @click="onToggleView()" 
          :disabled="!$store.getters['misc/compact']">B</button>
        <button 
          class="second" 
          :class="{ 'active-toggle': $store.getters['misc/compact'] }" 
          @click="onToggleView()" 
          :disabled="$store.getters['misc/compact']">C</button>
        </div>
      <div class="sort-layout-container">
        <label>Sort</label>
        <div class="custom-select" :class="{ 'show': showSortBy }" @mouseleave="showSortBy = false" @click="showSortBy = !showSortBy">
          <div class="selected">
            {{ sortBy }}
            <span v-if="!showSortBy" class="open">&#9660;</span>
            <span v-else class="close">&#x2716;</span>
          </div>
          <ul>
            <li v-for="(option, index) in sortOptions" :key="index" @click="onSortBy(option)">{{ option }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user-info">
      <div class="user-details" v-text="'Carl Clarke'"/>
    </div>
    <div class="theme-toggle">
      <div class="custom-toggle">
        <button 
          class="first" 
          :class="{ 'active-toggle': ($store.getters['misc/theme'] === 'light') }" 
          @click="onSetTheme('light')" 
          :disabled="$store.getters['misc/theme'] === 'light'">L</button>
        <button 
          class="second" 
          :class="{ 'active-toggle': ($store.getters['misc/theme'] === 'dark') }" 
          @click="onSetTheme('dark')" 
          :disabled="$store.getters['misc/theme'] === 'dark'">D</button>
      </div>
    </div>
  </nav>
</template>
