@import '@/config/vars.scss';

.trending-channels {
    margin-top: 0;

    .title {
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: .3rem;
        text-transform: uppercase;        
        margin-bottom: 2rem;  
        color: rgba($theme-color, .5);     
    }

    .trending-item {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "info action";
        margin-top: 1rem;

        .info {
            display: grid;
            grid-area: info;
        }

        .subscribe-btn {            
            display: grid;
            grid-area: action;
            border: $default-border-style;
            border-radius: .5rem;
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: .1rem;
            font-weight: 700;
            outline: none;
        }
    }
}