<script lang="ts" src="./trending-channels.ts"></script>
<style lang="scss" scoped src="./trending-channels.scss"></style>
<template>
  <div class="side-bar-widget trending-channels">
    <div class="content"> 
      <div class="title">Trending Channels</div>
      <div class="trending-items">
        <div class="trending-item" v-for="(channel, index) in channels" :key="index">
          <div class="info">
            <div class="name">{{ channel.name }}</div>
            <div class="subscribers">{{ channel.subscribers }} Subscribers</div>
          </div>
          <button class="subscribe-btn" @click="onSubscribeClick(channel)">subscribe</button>
        </div>
      </div>
    </div>
  </div>
</template>
