@import '@/config/vars.scss';

.comment-thread-view {
    // background: blue;
    // padding: 0.75rem;
    .title {
        margin-bottom: 1rem;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

}