<script lang="ts" src="./comment-thread.ts"></script>
<style lang="scss" scoped src="./comment-thread.scss"></style>
<template>
  <div class="comment-thread-view">
    <hr>
    <h2 class="title">Comments</h2>
    <ul>
      <li v-for="comment of comments" :key="comment.id">
        <comment :comment="comment" />
      </li>
    </ul>
  </div>
</template>
