@import '@/config/vars.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0rem;
    caret-color: $rd-yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0rem;
}

button {
    &:hover {
        background: $rd-yellow;
    }
}

.editor-content {
    &> * {
        outline: none;    
                
        &>:first-child {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, .3, .3, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}