@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

$default-font-family: 'Lato'; // 'Segoe UI Light';
$default-font-size: 10pt;
$gap-xs: 1rem;
$gap-sm: 2rem;
$gap-md: 4rem;
$gap-lg: 6rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 0.8rem;
$border-radius-lg: 1.2rem;
$default-border-style: 0.1rem solid #323232;
$font-awesome-family: 'Font Awesome 5 Free';
$rd-yellow: #FFC423;
$danger-red: rgb(255, 35, 35);

// DEFAULT THEME PALETTE
$theme-background: #202020;
$theme-nav-background: #202020;
$theme-color: #FFF;
$theme-link-color: #b3b8ff;

$theme-highlight-color: black;
$theme-accent-1-color: #323232;
$theme-accent-2-color: #3f3f3f;
$default-border-style: 0.1rem solid $theme-accent-1-color;

// LIGHT THEME PALETTE
$theme-light-background: #FFF;
$theme-light-nav-background: #cccccc;
$theme-light-color: #202020;
$theme-light-link-color: #5f66c2;

$theme-light-highlight-color: grey;
$theme-light-accent-1-color: #FFF;
$theme-light-accent-2-color: #bdbdbd;
$default-light-border-style: 0.1rem solid $theme-light-accent-1-color;

