@import '@/config/vars.scss';

.text-editor-container {
    position: relative;
    display: grid;
    grid-template-areas:
        "editor-heading-content"
        "editor-body-content"
        "editor-controls";
    grid-template-rows: 4rem auto 4rem;
    grid-gap: $gap-sm;

    &.comment {
        display: grid;
        grid-template-areas:
        "editor-body-content"
        "editor-controls";
        grid-template-rows: auto 4rem;

        .editor-body-content {
            display: grid;
            grid-area: editor-body-content;
            grid-template-areas: "text-body";
            grid-template-columns: auto;

            .editor-body-content-text {
                display: grid;
                grid-area: text-body;
                grid-template-areas: 
                "editor-content"
                "menubar";
                grid-template-rows: auto 4rem;

                .menubar {                    
                    border-radius: .5rem;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }

                .editor-content {                    
                    border-radius: .5rem;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }            
        }
    }
}

.editor-heading-content {
    display: grid;
    grid-area: editor-heading-content;
    grid-template-columns: 20rem auto;
    grid-gap: $gap-sm;

    [type="text"] {
        background-color: $theme-accent-1-color;
        border: $default-border-style;
        border-radius: .5rem;
        padding: 1rem;
        outline: none;
        color: $theme-color;

        &:focus {
            border-color: rgba($theme-color, .5);
        }
    }
}

.editor-body-content {
    display: grid;
    grid-area: editor-body-content;
    grid-template-areas: "featured-image text-body";
    grid-template-columns: 20rem auto;
    grid-gap: $gap-sm;
}

.editor-body-content-featured-image {
    display: grid;
    grid-area: featured-image;
    background: $theme-accent-1-color;
    border-radius: .5rem;
    height: 20rem; 


    .featured-image-field {   
        &:hover {
            background: $theme-accent-2-color;
        }
    }

    .featured-image {
        display: grid;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: .5rem;

        .edit-overlay,
        .add-overlay {
            display: none; 
            align-items: center;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            font-size: 2rem;
        }

        &:hover {
            // background: $theme-accent-2-color;

            &> .edit-overlay,
                .add-overlay {
                display:grid;
                background: rgba(0, 0, 0, .7);
                border-radius: .5rem;
            }
        }
    }
}

.editor-body-content-text {
    display: grid;
    grid-area: text-body;
    grid-template-areas: 
        "menubar"
        "editor-content";
    grid-template-rows: 4rem auto;

    .menubar {
        display: flex;
        grid-area: menubar;
        transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
        background: $theme-accent-1-color;
        // padding: $gap-xs;
        border-radius: .5rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    
        &.is-hidden {
            visibility: hidden;
            opacity: 0;
        }
    
        &.is-focused {
            visibility: visible;
            opacity: 1;
            transition: visibility 0.2s, opacity 0.2s;
        }
    
        &-button {
            font-weight: bold;
            font-size: 1.3rem;
            display: inline-flex;
            background: transparent;
            color: $theme-color;
            padding: .8rem;
            border-radius: 3px;
            border: $default-border-style;
            border-color: $theme-accent-2-color;
            cursor: pointer;
    
            &:hover {
                background-color: $rd-yellow;
                color: $theme-background;
            }
    
            &.is-active {
                background-color: rgba($theme-color, 0.3);
            }
        }
    }
    
    .editor-content {
        display: grid;
        grid-area: editor-content;
        border: $default-border-style;
        border-radius: .5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 1rem;
        background: $theme-background;
        min-height: 15rem;
        word-break: break-all;

        &> * {
            // outline: none;  
                    
            &>:first-child {
                margin-top: 0 !important;
                padding-top: 0 !important;
            }
        }
    
        pre {
        padding: 0.7rem 1rem;
        border-radius: 5px;
        background: $theme-background;
        color: $theme-color;
        font-size: 0.8rem;
        overflow-x: auto;
    
        code {
            display: block;
        }
        }
    
        p code {
        display: inline-block;
        padding: 0 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        background: rgba($theme-background, 0.1);
        color: rgba($theme-background, 0.8);
        }
    
        ul,
        ol {
        padding-left: 1rem;
        }
    
        li > p,
        li > ol,
        li > ul {
        margin: 0;
        }
    
        a {
        color: inherit;
        }
    
        blockquote {
        border-left: 3px solid rgba($theme-background, 0.1);
        color: rgba($theme-background, 0.8);
        padding-left: 0.8rem;
        font-style: italic;
    
        p {
            margin: 0;
        }
        }
    
        img {
        max-width: 100%;
        border-radius: 3px;
        }
    
    }
}

.editor-controls {
    display: grid;
    grid-area: editor-controls;
    grid-template-areas:
        ". btn-cancel btn-clear btn-submit";
    grid-template-columns: auto 10rem 10rem 10rem;
        
    .btn {
        background: $theme-accent-1-color;
        color: $theme-color;
        padding: 1rem;
        margin-left: 1rem;
        border-radius: .5rem;
        border: none;
        outline: none;
        float: right;
    
        &:hover {
            background-color: $rd-yellow;
            color: $theme-background;
        }
    }


    .btn-clear {
        display: grid;
        grid-area: btn-clear;
    }

    .btn-submit {
        display: grid;
        grid-area: btn-submit;
        text-transform: capitalize;
    };

    .btn-cancel {
        display: grid;
        grid-area: btn-cancel;
        background-color: $danger-red;
    };
}


