<script lang="ts" src="./text-editor.ts"></script>
<style lang="scss" scoped src="./text-editor.scss"></style>

<template>
  <div class="text-editor-container" :class="mode" v-if="editor !== null">
    <div class="editor-heading-content" v-if="mode !== 'comment'">
      <input class="editor-channel" type="text" v-if="channel" v-model="channel" disabled/>
      <input class="editor-title" type="text" v-model="title" placeholder="Title (required)"/>
    </div>
    <div class="editor-body-content">
      <div class="editor-body-content-featured-image" v-if="mode !== 'comment'">
        <div v-if="!imageUri" class="featured-image" :style="{'background-image': `url(${require('@/assets/placeholder.png')})`}">   
          <div class="add-overlay" @click="onChangeImage()">
            <div>ADD<br/>IMAGE</div>
          </div>
        </div>
        <div v-else class="featured-image" :style="{'background-image': `url(${imageUri}), url(${require('@/assets/bad-image.jpg')})`}"> 
          <div class="edit-overlay" @click="onChangeImage()">
            <div>CHANGE<br/>IMAGE</div>
          </div>
        </div>
      </div>
      <div class="editor-body-content-text">
        <editor-menu-bar :editor="editor" v-if="mode !== 'read'">
          <div class="menubar" slot-scope="{ commands, isActive }">
            <button class="menubar-button" :class="{ 'is-active': isActive.bold() }" @click="commands.bold" >B</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.italic() }" @click="commands.italic" >I</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.strike() }" @click="commands.strike" >-</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.underline() }" @click="commands.underline" >_</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.code() }" @click="commands.code" >< /></button>
            <button class="menubar-button" :class="{ 'is-active': isActive.paragraph() }" @click="commands.paragraph" >P</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.heading({ level: 1 }) }" @click="commands.heading({ level: 1 })" >H1</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.heading({ level: 2 }) }" @click="commands.heading({ level: 2 })" >H2</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.heading({ level: 3 }) }" @click="commands.heading({ level: 3 })" >H3</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list" >ul</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list" >ol</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.blockquote() }" @click="commands.blockquote" >" "</button>
            <button class="menubar-button" :class="{ 'is-active': isActive.code_block() }" @click="commands.code_block" >< ></button>
            <button class="menubar-button" @click="commands.undo" >undo</button>
            <button class="menubar-button" @click="commands.redo" >redo</button>
          </div>
        </editor-menu-bar>
        <editor-content class="editor-content" :editor="editor"/>
      </div>
    </div>
    <div class="editor-controls" v-if="mode !== 'read'">
      <button class="btn btn-submit" @click="onSubmit()">{{ mode }}</button>
      <button class="btn btn-clear" @click="onClear()">Clear</button>
      <button v-if="mode === 'update'" class="btn btn-cancel" @click="onCancel()">Cancel</button>
    </div>
  </div>
</template>
