@import '@/config/vars.scss';

.post-view {
    display: grid;
    grid-template-columns: 0.5rem 5rem 1fr;
    grid-template-rows: 0fr 0fr 0fr auto;
    grid-template-areas:
        ". votes metadata"
        ". votes title"
        ". votes content"
        ". votes image";
    grid-row-gap: $gap-sm;
    border: $default-border-style;
    border-radius: $border-radius-sm;
    padding: $gap-sm;
    overflow: hidden;

    .metadata {
        display: grid;
        grid-area: metadata;
        grid-auto-columns: 0fr;
        grid-auto-flow: column;
        grid-column-gap: $gap-sm;
    }

    .image {
        grid-area: image;
        height: 30rem;
        object-fit: cover;
        width: 100%;
    }

    .title {
        grid-area: title;
    }

    .content {
        grid-area: content;
    }

    .votes {
        grid-area: votes;
        align-self: center;
    }
}

.compact {
    //proper styling for compact post should be done here          
    position: relative;
    padding: $gap-xs !important;
    background: $theme-accent-1-color !important;
    display: grid;
    grid-template-columns: 0.5rem 3fr 1fr 0fr;
    grid-template-rows: 0fr 0fr 0fr auto;
    grid-template-areas:
        ". metadata image votes"
        ". title image ."
        ". content image .";
    grid-row-gap: $gap-xs;
    border: $default-border-style;
    border-radius: $border-radius-sm;
    padding: $gap-xs;

    .votes {
        margin-left: $gap-sm;
    }

    .content {
        height: 4.8rem;
        overflow: hidden;
    }

    .image {
        padding-left: $gap-sm;
    }
}
