<script lang="ts" src="./post.ts"></script>
<style lang="scss" scoped src="./post.scss"></style>
<template>
  <div class="post-view" :class="{ 'compact': $store.getters['misc/compact'] }" v-on="$listeners">
    <div class="metadata">
      <div class="channel">{{post.channel}}</div>
      <div class="poster">{{post.creator}}</div>
      <div class="timestamp">{{post.timestamp}}</div>
    </div>
    <img class="image" :src="post.imageUri">
    <h2 class="title">{{post.title}}</h2>
    <div class="content" v-html="post.content"/>
    <h3 class="votes">{{post.votes}}</h3>
  </div>
</template>
